* {
  font-family: "Alata", sans-serif;
}

.input-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  text-align: center;
}

.input-field {
  width: 400px;
  background-color: white;
  border: 1px solid #2ecc71;
  height: 50px;
  color: black;
  text-align: center;
  font-size: 22px;
  outline: none;
}

.input-field::placeholder {
  color: gray;
}

.input-btn {
  margin-top: 13px;
  background-color: #2ecc71;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

.input-btn:focus {
  outline: none;
}

.input-btn:hover {
  background-color: #27ae60;
  transition: 0.5s;
}

.content-name {
  padding-top: 20px;
  font-size: 50px;
  text-align: center;
  width: 400px;
}

.content-container {
  margin-top: 90px;
  height: 200px;
  border-radius: 10px;
  background-color: #2ecc71;
}
