body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Alata", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-shadow {
  -webkit-box-shadow: 0px 0px 37px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 37px 11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 37px 11px rgba(0, 0, 0, 0.75);
}
